@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

html {
  scroll-behavior: smooth;
}


.landing {
  height: 100vh;
  background: #214678;
}

.data {
  padding: 2%;
  height: 100vh;
  overflow-y: scroll;
}

.menu nav div {
  width: 100%;
  text-align: center;
  font-family: "VT323", sans-serif;
  font-size: 1.2em;
  cursor: pointer;

}

.formula.page {
  height: 100vh;
}

.formula-container {
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: flex;
}

.mythoughts.page p {
  margin-bottom: 1em;
}

.menu nav {
  display: flex;
  color: #FFF;
  width: 100%;
}

.logo {
  height: 1em;
  margin-top: 0.4em;
  width: 20%;
  background: url(./logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 1%;
  cursor: pointer;
}



.menu {
  background: #171717;
  height: 2em;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #3d3d3d;
}

.page {
  padding-top: 1%;
}

.explaination {
  padding: 2%;
  height: 96vh;
  color: #FFF;
  text-align: center;
  line-height: 10em;
}

.explaination a {
  text-decoration: underline;
}


table.table-data {
  width: 100%;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagination button.btn {
  background-color: #0f62fe;
  text-align: left;
  width: 9em;
  color: #FFF;
  height: 3em;
  padding-left: 1%;
  margin-top: 1%;
}

button.first-page.btn,
button.last-page.btn {
  background: slategrey;
  color: #000;
}

.award-container {
  display: flex;
}

.award-container {
  display: flex;
}

table.awards-table {
  text-align: center;
  width: 100%;
}

.award-gap {
  width: 23%;
}

.award-column {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.lastseason {
  height: 100vh;
}

.nba-jam-container {
  width: 100%;
  height: 100%;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7d3603e9-870b-4ae0-b0c1-ba376e580e9e/d5uexw6-38cb9f8f-3602-485d-82be-31241b21f3e1.jpg/v1/fill/w_1024,h_683,q_75,strp/wood_texture_honey_maple_light_grain_wooden_panel__by_texturex_com_d5uexw6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjgzIiwicGF0aCI6IlwvZlwvN2QzNjAzZTktODcwYi00YWUwLWIwYzEtYmEzNzZlNTgwZTllXC9kNXVleHc2LTM4Y2I5ZjhmLTM2MDItNDg1ZC04MmJlLTMxMjQxYjIxZjNlMS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kmrA-BDpQFUcLFbi1yNmIEqrWHPZ9pNDZ1xOYFOyDd4);
  background-size: cover;
  padding: 1%;
}

.nba-jam-window {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  background: #000;
  color: #FFF;
  position: relative;
  border-style: groove;
  border-color: #00a4ff;
  border-width: 1em;
}

.nba-jam-team-select {
  width: 70%;
  height: 45%;
  background: #000000;
  margin: 0 auto;
  margin-bottom: 1%;
  border-style: groove;
  border-color: silver;
  border-width: 0.1em;
}

.nba-jam-player-name-chyron {
  width: 100%;
  height: 8em;
  position: absolute;
  background-color: #09071e;
  bottom: 0;
}

.nba-jam-teams.west {
  color: yellow;
}

.nba-jam-teams.east {
  color: #00c6ff;
}

.nba-jam-team-select {
  display: flex;
}

.nba-jam-teams {
  width: 50%;
  font-family: "VT323";
  font-size: 1.3em;
  padding-left: 1em;
  height: 100%;
}

.nba-jam-teams {
  display: flex;
  flex-wrap: wrap;
}

.nba-jam-teams>div {
  flex: 1 0 calc(50% - 8px);
  cursor: pointer;
}

.nba-jam-window {
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-size: 13em !important;

}

.nba-jam-window.MIA {
  background-size: 10em !important;
}

.nba-jam-window.CLE {
  background-size: 7em !important;
}

.nba-jam-window.NOP {
  background-size: 20em !important;
}

.nba-jam-window.NYK,
.nba-jam-window.LAL {
  background-size: 20em !important;
}

.nba-jam-player-name-chyron {
  display: flex;
}

.player-chyron {
  width: 50%;
  padding: 1%;
  text-align: center;
}

.player-name {
  height: 70%;
  font-family: "VT323", monospace;
  font-size: 3em;
}

.player-score {
  height: 30%;
}

.player-score {
  font-size: 2.2em;
  font-family: monospace;
}

.nba-jam-title {
  background: #5252526e;
  width: fit-content;
  padding: 0.3em;
  font-family: "VT323";
}



@media (max-width: 600px) {

  .menu nav div {
    display: none;
  }

  .logo {
    width: 100% !important;
    background-position: center;
  }

  .table-container {
    height: 60vh;
    overflow-y: scroll;
  }

  .logo {
    background-position: center;
    width: 100% !important;
  }

  .menu nav {
    display: none;
  }

  .explaination {
    line-height: 2em;
    padding-top: 0em;
    display: flex;
    align-items: center;
  }

  table.table-data {
    font-size: 0.5em;
    height: 3em;
    overflow-y: scroll;
  }

  .award-container {
    display: block;
  }

  .award-column {
    width: 100%;
    font-size: 0.7em;
  }

  .player-name {
    font-size: 1.2em;
  }

  .player-score {
    font-size: 1.2em;
  }

  .nba-jam-player-name-chyron {
    height: 4em;
  }

  .nba-jam-teams {
    font-size: 0.7em;
    width: 80% !important;
  }

  .nba-jam-team-select {
    width: 90%;
    text-align: center;
  }
}

.mythoughts {
  height: 100vh;
}

.thoughts-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 1em;
}

h2 {
  font-size: 2em;
}

.mythoughts h2 {
  font-size: 2em;
}

.thoughts-card p {
  font-size: 1.3em;
}